*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    translate: 0% 40%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 40px;
    box-shadow: 6px 6px 12px grey;
    width: 500px;
    height: 600px   
}

.title{
    font-weight: 600;
    font-size: 28px;
    margin: 40px 0px 0px 0px;
}

.description{
    margin-top: 10px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 50px 0px 0px;
}   

.form-content label{
    padding-bottom: 2px;
}

.form-content input{
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 12px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
}

.form-content input:focus{
    border-color: 1px solid grey;
    box-shadow: 0 0 12px grey;
}

.form-content input::content{
    margin-left: 20px;
}


.action-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.action-links button{
    border-radius: 12px;
    padding: 15px 30px;
    width: 50%;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 30px
}

.action-links button:hover{
    border: lightcyan;
    background-color: lightcyan;
    box-shadow: 0px 0px 10px grey;
}

.register a{
    color: darkviolet
}

a{
    text-decoration: none;
    margin-top: 10px;
}

.action-links a:hover{
    text-decoration: underline;
}

#flash-messages{
    text-align: center;
    margin-top: 40px
}

.error-message{
    color: red
}

.success-message{
    color: green
}