*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    translate: 0% 40%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(75, 159, 255);
    border-radius: 40px;
    box-shadow: 6px 6px 12px grey;
    width: 500px;
    height: 600px   
}

.title{
    font-weight: 600;
    font-size: 28px;
    margin: 40px 0px 0px 0px;
}

.description{
    margin-top: 10px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 50px 0px 0px;
}   

.form-content label{
    padding-bottom: 10px;
    text-align: center;
    color: grey;
}

.form-content input{
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 40px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.form-content input:focus{
    transition: 0.2s ease-out;
    border-bottom: 1px solid rgb(75, 159, 255);
}



.form-content input::content{
    text-align: center;
}


.action-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.action-links button{
    border-radius: 12px;
    padding: 15px 30px;
    width: 50%;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}

.action-links button:hover{
    border: lightcyan;
    background-color: lightcyan;
    box-shadow: 0px 0px 10px grey;
    transition: 0.3s ease-in-out;
}

.register a{
    color: rgb(75, 159, 255)
}

a{
    text-decoration: none;
    margin-top: 10px;
}

.action-links a:hover{
    text-decoration: underline;
}

#flash-messages{
    text-align: center;
    margin-top: 20px
}

.error-message{
    color: red
}

.success-message{
    color: green
}