*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(135deg, wheat, white);
    border-radius: 40px;
    box-shadow: 6px 6px 12px gray;
    width: 600px;
    height: 850px
}

.title{
    font-weight: 600;
    font-size: 28px;
    margin: 40px 0px 0px 0px;
}

.description{
    margin-top: 10px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 40px 0px 0px;
}   

.form-content label{
    padding-bottom: 2px;
}

.form-content input{
    width: 400px;
    border: 1px solid wheat;
    border-radius: 12px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
}

.form-content input:focus{
    border-color: 1px solid wheat;
    box-shadow: 0 0 6px wheat;
}

.form-content input::content{
    margin-left: 20px;
}


.action-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.action-links button{
    border-radius: 12px;
    padding: 15px 30px;
    width: 50%;
    border-color: wheat;
    background-color: wheat
}

.action-links button:hover{
    border-color: rgb(212, 176, 103)        ;
    background-color: rgb(212, 176, 103) ;
    box-shadow: 0px 0px 6px grey;
}

.action-links a{
    text-decoration: none;
}

.action-links a:hover{
    text-decoration: underline;
}

.login{
    margin-top: 30px;
    margin-bottom: 10px;
}

.login a{
    color: darkviolet
}

#flash-messages{
    text-align: center;
    margin-top: 20px
}

.error-message{
    color: red
}

.success-message{
    color: green
}