<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Expense Tracker</h1>

    {% if budget %}
        <h2>All Expenses</h2>
        <div>
            <h3>Budget: {{ budget }}</h3>
            <h3>Remaining Budget: {{ remaining_budget }}</h3>
        </div>
        {% if expenses %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense[2] }}</td>
                    <td>{{ expense[3] }}</td>
                    <td>{{ expense[4] }}</td>
                    <td>{{ expense[5] }}</td>
                    <td>{{ expense[6] }}</td>
                    <td>
                        <a href="{{ url_for('edit_expense', id=expense[0]) }}">Edit</a>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_expense', id=expense[0]) }}" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('add_expense') }}">Add New Expense</a>

        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="{{ 'error-message' if category == 'error' else 'success-message' }} message">
                {{ message }}
                </p>
            {% endfor %}
            {% endwith %}
        </div>

        <h3>Total Expenses: {{ total }}</h3>

        <h2>Expenses by Category</h2>
        <ul>
            <li>Food: {{ categories_total['food'] }}</li>
            <li>Travel: {{ categories_total['travel'] }}</li>
            <li>Clothes: {{ categories_total['clothes']}}</li>
            <li>Academics: {{ categories_total['academics'] }}</li>
            <li>Utilities: {{ categories_total['utilities'] }}</li>
            <li>Others: {{ categories_total['others'] }}</li>
        </ul>

        <div style="width:400px; height:400px; margin-top:20px;">
            <canvas id="expense-chart" 
                data-categories='{{ categories_total | tojson }}'>
            </canvas>
        </div>

        
        {% else %}
        <a href="{{ url_for('add_expense') }}">Add New Expense</a>
        {% endif %}

    {% else %}
        <p>Start tracking your expenses</p>
        <h3>Set Budget</h3>
            <form action="{{ url_for('set_budget') }}" method="POST">
                <label for="budget">Budget:</label>
                <input type="number" name="budget" id="budget" placeholder="Enter your budget" min="100" required>
                <button type="submit">Set Budget</button>
            </form>
    {% endif %}

    <div>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
</body>
</html>
