<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="passowrd">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Login</button>

        <a href="{{ url_for('dashboard') }}">Back to home</a>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p class="{{ 'error-message' if category == 'error' else 'success-message' }} message">
            {{ message }}
            </p>
        {% endfor %}
        {% endwith %}
    </form>
    <script src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
</body>
</html>